.form {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.cardhome {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.carouselservice {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
body {
    background-color: gray;
}
.text {
    text-align: center;
    margin-top: 10%;
    color: red;
    font-size: 60px;
}